.noScroll{
    overflow: hidden;
}

body{
    margin: auto;
    width: 100%;
    max-width: 1440px;
}

main{
    padding: 0 100px;
}

.photograph-header {
    padding: 0 50px;
    background-color: #FAFAFA;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.photograph-header h1{
    color: #D3573C;
    font-size: 4em;
}

.photographer--location {
    color: #901C1C;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.photographer--tagline {
    color: #525252;
    font-size: 1.125em;
}

.photograph-header img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.photograph-main {
    position: relative;
    width: 100%;
    padding-bottom: 100px;
}

.photographe-main--filter {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.photographe-main--filter label{
    padding-right: 25px;
    font-size: 1.125em;
    font-weight: 700;
}

#btn-filter, #btn-filter option{
    background-color: #901C1C;
    color: #ffffff;
    border: 1px;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.125em;
    font-weight: 700;
}

.photograph-main--media {
    padding-top: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 35px 60px;
}

.photograph-main--media-Card{
    width: 25%;
    min-width: 240px;
    flex: 25%;
}

.photograph-main--media-Card p{
    font-size: 1.2em;
    color: #901C1C;
}

.photograph-main--media-Card img, .photograph-main--media-Card video{
    border-radius: 5px;
    width: 100%;
    height: 300px;
    object-fit: cover;
    cursor: pointer;
}

.photograph-main--media-Card_info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.photograph-main--media-Card_info input{
    position: absolute;
    clip-path: circle(0%);
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.photograph-main--media-Card_info input:focus-visible + label>img{
    /* border: 1px solid #bdbdbd; */
    transform: scale(1.2);
    transition-duration: 0.1s;
}

.photograph-main--media-Card_info input + label>img{
    width: 0.85em;
    height: initial;
    border-radius: initial;
    filter: invert(18%) sepia(46%) saturate(3524%) hue-rotate(348deg) brightness(90%) contrast(90%);
}

.photograph-footer{
    position: fixed;
    bottom: 0;
    right: 36px;
    padding: 21px 35px;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    background-color: #DB8876;
}

.photograph-footer p{
    font-size: 1.5em;
}

.photographerLikes{
    font-size: inherit;
}

.photograph-footer img{
    width: 1.22em;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 0.3s;
}

.photograph-header > .contact_button:hover, .photograph-header > .contact_button:focus {
    background-color: #DB8876;
    color: #000000;
    transition-duration: 0.3s;
}

/* Litgh Box */
#lightBox_modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    padding: 50px;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255);
    justify-content: center;
    align-items: center;
}

#lightBox_modal article {
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-LightBox{
    position: absolute;
    top: 35px;
    right: 80px;
    width: 3em;
    filter: invert(18%) sepia(46%) saturate(3524%) hue-rotate(348deg) brightness(90%) contrast(90%);
    cursor: pointer;
}

.left-LightBox, .right-LightBox{
    position: absolute;
    width: 2.5em;
    filter: invert(18%) sepia(46%) saturate(3524%) hue-rotate(348deg) brightness(90%) contrast(90%);
    cursor: pointer;
}

.left-LightBox{
    left: 80px;
}

.right-LightBox{
    right: 80px;
}

#lightBox_modal section{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 90px 0 90px;
}

#lightBox_modal section.media-selected{
    display: flex;
}

#lightBox_modal img.picture-large, #lightBox_modal video{
    border-radius: 5px;
    max-width: 100%;
    max-height: 90vh;
}

#lightBox_modal section>p{
    width: 100%;
    color:#901C1C;
    font-size: 1.5em;
}


/* Contact Modal */
#contact_modal {
    display: none;
    position: fixed;height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    justify-content: center;
    z-index: 2;
}

.modal {
    position: absolute;
    top: 4vh;
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    max-width: 631px;
    max-height: 92vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px 35px 25px 35px;
    overflow-y: scroll;
    scrollbar-color: #901C1C #DB8876;
    scrollbar-width: thin;
}

.contact_modal_background{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(196, 196, 196, 0.4);
    z-index: -1;
}

.modal header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}

.modal header img {
    cursor: pointer;
    position: absolute;
    top: 35px;
    right: 35px;
}

.modal header h2{
    font-size: 3.5em;
    font-weight: normal;
    padding: 0 45px 20px 0;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 1.5em;
}

form .form-data {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 15px;
}

form .form-error {
    visibility: hidden;
    color: rgb(255, 255, 255);
    font-weight: 700;
    padding: 5px 0 0 5px;
}

form .iconeError{
    position: absolute;
    height: 100%;
    color: red;
    font-size: 1.5em;
    font-weight: 700;
    transform: translate(3px, 38%);
}

form input {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    font-size: 1.3em;
    padding-left: 15px;
}

form input[aria-invalid="true"] {
    outline: 2px solid red;
}

form textarea[aria-invalid="true"] {
    outline: 2px solid red;
}

form input[aria-invalid="true"] + p {
    visibility: visible;
}

form textarea[aria-invalid="true"] + p {
    visibility: visible;
}
  

form textarea{
    height: 130px;
    width: 100%;
    max-width: 101%;
    font-size: 1.5em;
    padding: 5px 10px 5px 10px;
}