@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
@import url("photographer.css");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4em;
    font-family: "DM Sans", sans-serif, sans-serif;
}

a {
    text-decoration: none;
}

a:link {
color: black;
}

a:visited {
color: initial;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

header h1 {
    color: #901C1C;
    font-size: 2.25em;
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin: 0 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin: 80px 65px;
}

.photographer_section article, .photographer_section a {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 2.25em;
    text-align: center;
}

.photographer_section article img {
    display: block;
    margin: auto;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.photographer_section article div {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.photographer-info--location{
    color: #901C1C;
    font-size: 1.3em;
}

.photographer-info--tagline{
    font-size: 1em;
}

.photographer-info--price{
    font-size: 0.9em;
    color: #757575;
}